<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       ">

       <context:component-scan base-package="com.github.tsiangleo.learnspring" />

       <bean id="maxspd" class="java.lang.Integer">
              <constructor-arg value="200"/>
       </bean>

       <bean id="myband" class="java.lang.String" >
              <constructor-arg value="mecerdes-benz" />
       </bean>

</beans>