<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <!-- 配置spring配置文件的名称和位置 -->
    <context-param>
        <param-name>configLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <!-- 启动IOC容器的ServletContextListener -->
    <listener>
        <listener-class>com.github.tsiangleo.mavenweb.listener.SpringServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.github.tsiangleo.mavenweb.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistServlet</servlet-name>
        <servlet-class>com.github.tsiangleo.mavenweb.servlet.RegistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistServlet</servlet-name>
        <url-pattern>/regist</url-pattern>
    </servlet-mapping>

</web-app>
